@model IEnumerable<WebMyWorldEC.Models.Response.DataServicesToEC>

@{
    ViewBag.Title = "Services in Mall";
}

@if (Request.IsAuthenticated)
{
    <h2 class="text-center">@ViewBag.Title</h2>

    <div class="form-group col-md-offset-11">
        <div>
            <input class="btn btn-default" value="Create new" type="submit" onclick="location.href='@Url.Action("Create", "Services_Entertainment_Centers")';return false;" />
        </div>
    </div>
    <table class="table" style="width:70%; margin-left:15%;">
        <tr>
            <th>
                @Html.DisplayName("Mall")
            </th>
            <th>
                @Html.DisplayName("Address of the Mall")
            </th>
            <th>
                @Html.DisplayName("Service")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Entertainment_Centers.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entertainment_Centers.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}