@model WebMyWorldEC.Models.Response.DataCategoriesServices

@{
    ViewBag.Title = "Edit Category in Service";
}
<h2 class="text-center">@ViewBag.Title</h2>


@using (Html.BeginForm())
{

    if (Request.IsAuthenticated)
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input class="btn btn-default" value="Back to List" type="submit" onclick="location.href='@Url.Action("Index", "Categories_Services")';return false;" />
        </div>
        <hr />

        <div class="form-horizontal col-md-offset-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Service.Name, "Service", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-top:7px;">
                    @Html.DisplayFor(model => model.Service.Name)
                    @Html.ValidationMessageFor(model => model.Service.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdCategories, "Categories", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("IdCategories", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdCategories, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.Id)

            <div class="form-group text-center">
                <div class=" col-md-8">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
    else
    {
        Response.Redirect(Url.Action("Login", "Account"));
    }
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }